<div class="footer_bar">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer_bar_content d-flex flex-md-row flex-column align-items-center justify-content-start">
                    <div class="copyright order-md-1 order-2"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                    <nav class="footer_nav ml-md-auto order-md-2 order-1">
                        <ul class="d-flex flex-row align-items-center justify-content-start">
                            <li><a href="category.html">Women</a></li>
                            <li><a href="category.html">Men</a></li>
                            <li><a href="category.html">Kids</a></li>
                            <li><a href="category.html">Home Deco</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>