

<div class="super_container">

	<!-- Header -->

	<header class="header">
		<app-header></app-header>
	</header>

	<app-home></app-home>
		<!-- Footer -->

		<footer class="footer">
			
			<app-footer></app-footer>
		</footer>
</div>
